/.project
/.pydevproject
/GlabTop2/test/dem25m.map
/GlabTop2/test/glacid25m.map
/GlabTop2/test/glaciers_rgi60*
/GlabTop2/test/IceDepths.map
/GlabTop2/test/rgi.csv
/GlabTop2/__pycache__/
/.settings/
/docs/build/