streamlit == 1.29.0
pcraster
# #name: glabtop2
# channels:
#   - conda-forge
#   #- WilcoTerink
#   - defaults
# dependencies:
#   - pcraster
#   #- python=3.11
#   #- GlabTop2-py
#   #- streamlit=1.29.0